@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="width: calc(100% - 250px)">
        <article class="content">
            @Body
        </article>
    </main>
</div>
