@using SchedulingProblem.Scenarios
@using SchedulingProblem.Model
@using SchedulingProblemWeb.Components
@page "/bigcourse"
<PageTitle>Test Example</PageTitle>

<h2>Course Big</h2>

<ScenarioComponent S="@S" />

@code {







    private Scenario S = JSONParser.GetCourseBig();
}