@using SchedulingProblem.Scenarios
@using SchedulingProblem.Model
@using SchedulingProblemWeb.Components
@page "/mediumpres"
<PageTitle>Test Example</PageTitle>

<h2>Presentatino Medium</h2>

<ScenarioComponent S="@S" />

@code {



    private Scenario S = JSONParser.GetPresentationMedium();
}